{% extends "layouts/main.twig" %}

{% block title %}Index from Pages directory{% endblock %}
{% block head %}
    {{ wp_head() }}
{% endblock %}
{% block content %}
    <h1>Page Index</h1>
    <p class="important">
        Welcome to my awesome homepage.
        {{ __('Title', constant('THEME_TEXTDOMAIN')) }}
        {{ _e('Post') }}
    </p>
    <p>{{ fn('bloginfo', 'name') }}</p>
    <p>{{ fn.bloginfo('name') }}</p>
    {% for post in posts %}
        {% set id = post.ID %}
        <h2>{{ post.post_title }}</h2>
        <a href="{{ fn('get_permalink', id) }}">Read more</a>
    {% endfor %}
{% endblock %}